/* =======================================styles Sheet=================== */
/* =====================================Common Font============= */
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Poppins:wght@600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin-top: -50px;
}

hr {
    color: #888888;
    width: 85%;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

/* 1st part */
.header-container {
    margin: 0px 30px 0px 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 86px;
    padding-left: 93px;
    padding-bottom: 111px;
    border-radius: 30px;
    background: url(assets/Banner\ Image.png) right bottom no-repeat, black left top repeat;
    background-size: 590px, 130px, auto;
    background-repeat: no-repeat;
}

.banner-info {
    padding-top: 80px;
}

.banner-title {
    width: 60%;
    color: #FFFFFF;
    font-size: 70px;
    font-weight: 700;
    line-height: 80px;

}

.banner-descipation {
    margin-top: -30px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 35px;

}

.hidden-button {
    visibility: hidden;
}

.responsive {
    text-align: center;
    width: 300px;
    color: #FFFFFF;
    visibility: hidden;
}

.banner-anchor {
    text-decoration: none;
    background-color: #DD0000;
    color: #FFFFFF;
    font-weight: 100px;
    padding: 10px 20px;
    border-radius: 5px;
}

.manu-and-blogs {
    margin: 0px 30px 0px 30px;
    display: flex;
    margin-top: 130px;

}

.manu-part {
    margin-right: 25px;
    padding-top: 20px;
    padding-left: 18px;
    padding-right: 28px;
    padding-bottom: 20px;
    width: 312px;
    height: 312px;
    background: #161616;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    justify-content: center;
    align-items: center;
}

.manu-um,
.manu-ag,
.manu-bg {
    position: relative;
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 252px;
    height: 64px;
    left: 2px;
    top: 2px;
    align-items: center;
    border: 1px solid #888888;
}

.manu-um a,
.manu-ag a {
    font-weight: 500;
    text-decoration: none;
    color: #161616;
    position: relative;
    top: 20px;
    font-size: 20px;
}

.manu-bg {
    background-color: #DD0000;
}

.manu-bg a {
    font-weight: 600;
    text-decoration: none;
    color: #FFFFFF;
    position: relative;
    top: 20px;
    font-size: 20px;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;

}

.blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #eeeeee;
    border-radius: 10px;
    padding-bottom: 20px;
}

.blog-details {
    padding-left: 20px;
}

.blogs-title {
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 5px;
    border-radius: 5px;
    box-shadow: 0px 0.5px#888888;
    Width: 90px;
    Height: 25px;
    color: #161616;
    border: 1px solid #161616;
    font-size: 20px;
    font-weight: 540;
    margin-bottom: -1px;
}

.blog-artical {
    width: 272px;
    font-size: 18px;
    font-weight: 600;
}

.blog-info {
    display: flex;
    margin-left: -95px;
}

.blog-durstion {
    margin-right: 30px;
}

/* =----------===============================----------------------
footer style
=-------------------======================--------------------------------- */
.final-part {
    width: 100%;
    height: 444px;
    left: 0px;
    top: 2090px;
    background: #161616;
    border-radius: 10px;

}

.footer-container {
    margin-top: 100px;
    padding-top: 70px;
}

.footer-title {
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 600px;

}

.footer-anchors {
    display: flex;
    justify-content: center;
    gap: 75px;
    margin-top: 43px;
}

.footer-anchors a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #B9B9B9;
}

.social-link {
    display: flex;
    justify-content: center;
    gap: 75px;
    margin-top: 50px;
}

.fa-brands {
    color: #FFFFFF;
    font-size: 25px;
}

/*======================================= Responsive for world Cup 2023 =======================*/
/* =============================================Small device ====================== */
@media only screen and (max-width:688px) {
    body {
        margin-left: 0;
        margin-right: 0;

    }

    .header-container {
        background: url(assets/Banner\ Image.png) right bottom no-repeat, black left top repeat;
        background-position: 20px 300px;
        border-radius: 10px;

    }

    .banner-info {
        display: flex;
        flex-direction: column;
        margin-top: -50px;
        padding-bottom: 290px;
        padding-left: -90px;


    }

    .banner-title {
        position: relative;
        right: 45px;
        width: 260px;
        height: 66px;
        font-weight: 700;
        font-size: 27px;
        line-height: 33px;
        text-align: center;
        color: #FFFFFF;
    }

    .banner-descipation {
        display: none;
    }

    .responsive {
        position: relative;
        right: 60px;
        visibility: visible;
    }

    .banner-anchor {
        position: relative;
        top: 30px;
    }

    .manu-and-blogs {
        display: inline;
    }

    .manu-part {
        background-color: #FFFFFF;

    }

    .manu-um,
    .manu-ag,
    .manu-bg {
        margin-left: 60px;
    }

    .blogs {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .final-part {
        height: 100%;
    }

    .footer-anchors {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        margin-top: 43px;
    }

    .footer-anchors a {
        text-align: center;
    }

    .social-link {
        padding-bottom: 10px;
    }
}

/* ============================================medium device====================== */
@media only screen and (min-width:690px) and (max-width:1024px) {

    .header-container {
        background: url(assets/Banner\ Image.png) right bottom no-repeat, black left top repeat;
        padding-bottom: 30px;
        background-size: 320px 500px;
    }

    .banner-title {
        position: relative;
        top: -30px;
        right: 30px;
        width: 200px;
        height: 150px;
        line-height: 1;
        font-size: 30px;
    }

    .banner-descipation {
        position: relative;
        top: -70px;
        right: 20px;
        font-size: 15px;
        width: 300px;
    }

    .banner-anchor {
        position: relative;
        top: -90px;
        right: 20px;
    }

    .manu-and-blogs {
        display: inline;
    }

    .manu-part {
        position: relative;
        left: 200px;
        background-color: #FFFFFF;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 22px;

    }

    .manu-um,
    .manu-ag,
    .manu-bg {
        width: 212px;
    }

    .blogs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .hidden-button {
        top: 30px;
        border: none;
        text-decoration: none;
        color: #FFFFFF;
        font-size: 20px;
        position: relative;
        left: 300px;
        visibility: visible;
        background-color: #DD0000;
        width: 131px;
        height: 47px;
    }

    .view-all {
        display: none;
    }

    .footer-anchors {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        justify-content: center;
        margin-top: 43px;
        align-items: center;
    }

    .footer-anchors a {
        text-align: center;
    }

    .goal {
        position: relative;
        left: 190px;
    }

}


/*================= Upcoming-match styles  sheet===================  */
#body-1 {
    font-family: 'Poppins', sans-serif;
    /* margin-left: 30px;
    margin-right: 30px; */
    margin-top: -50px;
}

/*=============== Manu-and-Matches====================================================*/
.manu-and-matches {
    display: flex;
    margin-top: 130px;
    width: 100%;
}

.manu-um-1,
.manu-ag-1,
.manu-bg-1 {
    position: relative;
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 252px;
    height: 64px;
    left: 2px;
    top: 2px;
    align-items: center;
    border: 1px solid #888888;
}

.manu-bg-1 a,
.manu-ag-1 a {
    font-weight: 500;
    text-decoration: none;
    color: #161616;
    position: relative;
    top: 20px;
    font-size: 20px;
}

.manu-um-1 {
    background-color: #DD0000;
}

.manu-um-1 a {
    font-weight: 600;
    text-decoration: none;
    color: #FFFFFF;
    position: relative;
    top: 20px;
    font-size: 20px;
}

.manu-part-2 {
    margin-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    width: 300px;
    height: 312px;
    background: #161616;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    justify-content: center;
    align-items: center;
}

.matches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.match {
    border: 1px solid #eeeeee;
    border-radius: 10px;
    padding-top: 53px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
}

.match-mini {
    display: flex;
    justify-content: center;
}

.match-vs {
    padding: 0px 21px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.country-name {
    text-align: center;
    line-height: 0.7;
}

.match-time {
    font-size: 16px;
    font-weight: 100px;
}

/* ===========================================footer part======================================== */
.final-part-1 {
    width: 100%;
    height: 444px;
    left: 0px;
    top: 1300px;
    background: #161616;
    border-radius: 10px;

}

/*=============================== Responsive for world Cup 2023 =======================*/
/*========================================== Small device ====================== */
@media only screen and (max-width:688px) {
    body {
        margin-left: 0;
        margin-right: 0;

    }

    .header-container {
        background: url(assets/Banner\ Image.png) right bottom no-repeat, black left top repeat;
        background-position: 20px 300px;
        border-radius: 10px;

    }

    .banner-info {
        display: flex;
        flex-direction: column;
        margin-top: -50px;
        padding-bottom: 290px;
        padding-left: -90px;


    }

    .banner-title {
        position: relative;
        right: 45px;
        width: 260px;
        height: 66px;
        font-weight: 700;
        font-size: 27px;
        line-height: 33px;
        text-align: center;
        color: #FFFFFF;
    }

    .banner-descipation {
        display: none;
    }

    .responsive {
        position: relative;
        right: 60px;
        visibility: visible;
    }

    .banner-anchor {
        position: relative;
        top: 30px;
    }

    .manu-and-matches {
        display: inline;
    }

    .manu-part-2 {
        background-color: #FFFFFF;

    }

    .manu-um-1,
    .manu-ag-1,
    .manu-bg-1 {
        margin-left: 60px;

    }

    .matches {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .final-part-1 {
        height: 100%;
    }

    .footer-anchors {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        margin-top: 43px;
    }

    .footer-anchors a {
        text-align: center;
    }

    .social-link {
        padding-bottom: 10px;
    }
}

/* =======================================================medium device============================================== */
@media only screen and (min-width:690px) and (max-width:1024px) {

    .header-container {
        background: url(/assets/Banner\ Image.png) right bottom no-repeat, black left top repeat;
        padding-bottom: 30px;
        background-size: 320px 500px;
    }

    .banner-title {
        position: relative;
        top: -30px;
        right: 30px;
        width: 200px;
        height: 150px;
        line-height: 1;
        font-size: 30px;
    }

    .banner-descipation {
        position: relative;
        top: -70px;
        right: 20px;
        font-size: 15px;
        width: 300px;
    }

    .banner-anchor {
        position: relative;
        top: -90px;
        right: 20px;
    }

    .manu-and-matches {
        display: inline;
    }

    .manu-part-2 {
        position: relative;
        left: 200px;
        background-color: #FFFFFF;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 22px;

    }

    .manu-um-1,
    .manu-ag-1,
    .manu-bg-1 {
        width: 212px;
    }

    .matches {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }


    .footer-anchors {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        justify-content: center;
        margin-top: 43px;
        align-items: center;
    }

    .footer-anchors a {
        text-align: center;
    }

    .goal {
        position: relative;
        left: 190px;
    }

}