/* ===============styles Sheet=================== */
/* Common Font============= */
/* @import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Poppins:wght@600&display=swap'); */

body {
    font-family: 'Poppins', sans-serif;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: -50px;
}

/* 1st part */
.header-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 86px;
    padding-left: 93px;
    background-color: #161616;
    padding-bottom: 136px;
    border-radius: 30px;
}

.banner-title {
    color: #FFFFFF;
    font-size: 70px;
    font-weight: 700;
    line-height: 80px;

}

.banner-descipation {
    margin-top: -30px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 35px;

}

.banner-anchor {
    text-decoration: none;
    background-color: #DD0000;
    color: #FFFFFF;
    font-weight: 100px;
    padding: 10px 20px;
    border-radius: 5px;
}

.banner-iamge {
    position: relative;
    bottom: -8px;
    padding-top: 15px;


}

.banner-iamge img {

    height: 130%;
}

.manu-and-blogs {
    display: flex;
    margin-top: 130px;

}

.manu-part {
    margin-right: 25px;
    padding: 10px 0;
    width: 312px;
    height: 312px;
    background: #161616;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    justify-content: center;
    align-items: center;
}

.manu-um,
.manu-ag,
.manu-bg {
    position: relative;
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 252px;
    height: 64px;
    left: 30px;
    top: 2px;
    align-items: center;
}

.manu-um a,
.manu-ag a {
    font-weight: 500;
    text-decoration: none;
    color: #161616;
    position: relative;
    top: 20px;
    font-size: 20px;
}

.manu-bg {
    background-color: #DD0000;
}

.manu-bg a {
    font-weight: 600;
    text-decoration: none;
    color: #FFFFFF;
    position: relative;
    top: 20px;
    font-size: 20px;
}

.blog {
    border: 1px solid #eeeeee;

}

.blog-info {
    display: flex;
}

.blog-durstion {
    margin-right: 30px;
}